asgiref==3.9.1
boto3==1.40.25
botocore==1.40.25
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
Django==5.2.5
django-allauth==65.11.1
gunicorn==23.0.0
whitenoise==6.7.0
uvicorn==0.30.1
python-dotenv==1.1.1
idna==3.10
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.2
mysqlclient==2.2.7
pillow==11.3.0
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2025.7.34
requests==2.32.5
s3transfer==0.13.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
